.note-card {
    margin-bottom: 30px;

    &:hover {
        transform: scale(1.05);
        cursor: pointer;
        & .delete-btn {
            display: block;
        }
    }

    & .delete-btn {
        display: none;
    }

    & > .card-body {
        max-height: 170px;
        & > .card-title {
            font-size: 1.2em;
            overflow: hidden;
            overflow-wrap: break-word;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }
        & > .note-card-content {
            overflow: hidden;
            display: -webkit-box;
            overflow-wrap: break-word;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
        }
    }

}
